<h1>Eat Da Burger</h1>

<h2>Devour</h2>

<ul>
  {{#each Burgers}}
    {{#unless Devour}}
      {{> Burgers/Burger-block Devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2></h2>

<ul>
  {{#each Burgers}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger name:</label>
    <input type="text" id="ca" name="name">
  </div>

 
  <button type="submit">Add Burger</button>
</form>
