<li>
	<div>
		<div>{{burger_name}}</div>
		<div>
			<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}"><i class="fa fa-cutlery" aria-hidden="true"></i> Devour it!</button>
		</div>
	</div>
	<hr>
</li>